


/*====  Blog Start  =====*/


.single-blog{
    & .blog-image{
        overflow: hidden;
        position: relative;

        & a{
            display: block;
            position: relative;

            & img{
                width: 100%;
                @include transition(0.3s);
            }

            & i{
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                margin: 0 5px;
                color: $black;
                font-size: 14px;
                background-color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 9;
                opacity: 0;
                visibility: visible;
                @include transition(0.3s);
                
                @media #{$lg}{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    margin: 0 2px;
                }
                @media #{$md}{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    margin: 0 2px;
                }

                &:hover{
                    background: -moz-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: -ms-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: -webkit-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    color: $white;
                }
            }

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.4);
                top: 0;
                left: 0;
                z-index: 5;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);
            }
        }

        & .blog-category-2{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;

            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 10px;
                    font-weight: 700;
                    padding: 0px 20px;
                    height: 35px;
                    line-height: 35px;
                    color: $white;
                    @include transition(0.3s);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    background-color: #707fe0;
                    background-image: -moz-linear-gradient(180deg,star 0,#707fe0 100%);
                    background-image: -webkit-linear-gradient(180deg,#f6354c 0,#707fe0 100%);
                    background-image: -ms-linear-gradient(180deg,#f6354c 0,#707fe0 100%);                    
                }
            }
        }

        &:hover{
            & a{
                & img{
                    @include transform(scale(1.1));
                }
                & i{
                    opacity: 1;
                    visibility: visible;
                }
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    & .blog-image-gallery{
        overflow: hidden;
        position: relative;

        & a{
            display: block;

            & img{
                width: 100%;
                @include transition(0.3s);
            }
        }

        & .slick-arrow{
            position: absolute;
            top: 50%;
            left: 15px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            color: $black;
            background-color: $white;
            z-index: 5;
            border-radius: 50%;
            cursor: pointer;
            @include transform(translateY(-50%));
            
            &.next{
                left: auto;
                right: 15px;
            }
        }
    }
    & .blog-quote{
        & a{
            display: block;
            position: relative;

            & img{
                width: 100%;
            }
            & .quote-content{
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 30px;
                width: 50%;

                @media #{$lg}{
                    padding: 15px;
                }
                @media #{$xs}{
                    padding: 10px;
                    width: 100%;
                }
                @media #{$sm}{
                    padding: 30px;
                    width: 60%;
                }

                & p{
                    font-size: 28px;
                    font-style: normal;
                    line-height: normal;  
                    font-family: $font-1; 
                    color: $white;      
                    
                    @media #{$xs}{
                        font-size: 16px;
                    }
                    @media #{$sm}{
                        font-size: 20px;
                    }
                }
                & span{
                    font-size: 12px;
                    text-transform: uppercase;
                    display: inline-block;
                    color: $white;
                    position: relative;
                    margin-top: 15px;

                    &::before {
                        content: "";
                        display: block;
                        border-top: 2px solid;
                        width: 50px;
                        margin: 5px 0 15px;
                    }
                }
            }
        }
    }
    & .blog-content{
        margin-top: 15px;
        position: relative;

        & .blog-category{
            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 10px;
                    font-weight: 700;
                    color: $black;
                    @include transition(0.3s);
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
        & .title{
            & a{
                font-size: 20px;
                font-weight: 700;
                color: $black;
                @include transition(0.3s);
                margin-top: 15px;

                @media #{$xs}{
                    font-size: 16px;
                }
                @media #{$sm}{
                    font-size: 16px;
                }

                &:hover{
                    color: $theme-color;
                }
            }
        }
        & .blog-meta{
            margin-top: 10px;

            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 11px;
                    color: $body-color;
                    @include transition(0.3s);

                    & span{
                        color: $black;
                        font-weight: 700;
                        @include transition(0.3s);
                    }
                    & i{
                        margin-right: 4px;
                        font-size: 14px;
                    }

                    &:hover{
                        color: $theme-color;

                        & span{
                            color: $theme-color;
                        }
                    }
                }
            }
        }

        & p{
            font-size: 14px;
            margin-top: 15px;
            @include transition(0.3s);
        }

        & .main-btn{
            padding: 0 40px;
            margin-top: 30px;

            @media #{$xs}{
                padding: 0 20px;
                height: 45px;
                line-height: 43px;
                font-size: 13px;
            }
        }

        & .share-post{
            position: absolute;
            bottom: 0;
            right: 0;

            & .share{                
                font-size: 13px;
                color: $body-color;                
            }

            & .social{
                position: absolute;
                bottom: 100%;
                background: $white;
                padding: 8px;
                box-shadow: 0 2px 12px rgba($black,.176);
                transition: all 250ms ease-out;
                border-radius: 5px;
                visibility: hidden;
                opacity: 0;
                white-space: nowrap;    
                left: 50%;
                @include transform(translateX(-50%));
                @include transition(0.3s);

                @media #{$xs}{
                    @include transform(translateX(0%));
                    right: 0;
                    left: auto;
                }
                @media #{$sm}{
                    right: auto;
                    left: 50%;
                    @include transform(translateX(-50%));
                }
                                
                & li{
                    display: inline-block;

                    & + li{
                        margin-left: 5px;
                    }

                    & a{
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 12px;
                        color: $white;

                        &.facebook{
                            background-color: #5678bf;
                        }
                        &.twitter{
                            background-color: #73c2fd;
                        }
                        &.linkedin{
                            background-color: #007bb6;
                        }
                        &.pinterest{
                            background-color: #c32026;
                        }
                    }
                }
            }

            &:hover{
                & .social{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &.blog-3{
        background-color: $white;
        @include transition(0.3s);

        & .blog-quote{
            & a{
                & .quote-content{
                    width: 80%;

                    @media #{$xs}{
                        width: 100%;
                    }
                    @media #{$sm}{
                        width: 80%;
                    }
    
                    & p{
                        font-size: 24px;     
                        
                        @media #{$lg}{
                            font-size: 20px;
                        }
                        
                        @media #{$md}{
                            font-size: 20px;
                        }
                        @media #{$xs}{
                            font-size: 16px;
                        }
                        @media #{$sm}{
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        & .blog-content{
            margin-top: 0;
            padding: 25px 30px 60px;

            @media #{$xs}{
                padding: 15px 15px 30px;
            }
            @media #{$sm}{
                padding: 25px 30px 60px;
            }
    
            & .main-btn{
                background-color: transparent;
                border: 1px solid $border-color;
                line-height: 48px;
                color: $black;
                position: relative;
                @include transition(0s);

                @media #{$xs}{
                    line-height: 43px;
                }

                &:hover{
                    color: $white;
                    background-color: #93ddff;
                    background-image: -moz-linear-gradient(180deg,star 0%,#fabb98 100%);
                    background-image: -webkit-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                    background-image: -ms-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                }
            }
        }

        &:hover{
            @include box-shadow (0 0 38px 0 rgba(82,109,249,.33));
        }
    }

    &.blog-4{
        background-color: $white;
        @include transition(0.3s);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 5;

        & .blog-thumb-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s);

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($black, 0.4);
            }
        }

        

        & .blog-content{
            margin-top: 0;
            padding: 55px 30px 60px;

            @media #{$laptop}{
                padding: 35px 20px 40px;
            }
            @media #{$lg}{
                padding: 35px 20px 40px;
            }
            @media #{$xs}{
                padding: 35px 20px 40px;
            }
            @media #{$sm}{
                padding: 55px 30px 60px;
            }
    
            & .main-btn{
                background-color: transparent;
                border: 1px solid $border-color;
                line-height: 48px;
                color: $black;
                position: relative;

                @media #{$xs}{
                    line-height: 43px;
                }

                &:hover{
                    color: $white;
                    background-color: #93ddff;
                    background-image: -moz-linear-gradient(180deg,star 0%,#fabb98 100%);
                    background-image: -webkit-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                    background-image: -ms-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                    border-color: transparent;                    
                }
            }
        }

        &:hover{
            @include box-shadow (0 0 38px 0 rgba(82,109,249,.33));

            & .blog-thumb-overlay{
                opacity: 1;
                visibility: visible;
            }

            & .blog-content{        
                & .blog-category{
                    & li{        
                        a{
                            color: $white;
                        }
                    }
                }
                & .title{
                    & a{
                        color: $white;
                    }
                }
                & .blog-meta{        
                    & li{        
                        a{
                            color: $white;
        
                            & span{
                                color: $white;
                            }
                        }
                    }
                }
        
                & p{
                    color: $white;
                }

                & .main-btn{
                    color: $white;
                }
            }
        }
    }

    &.blog-5{
        & .blog-quote{
            & a{
                & .quote-content{
                    width: 80%;

                    @media #{$xs}{
                        width: 100%;
                    }
                    @media #{$sm}{
                        width: 80%;
                    }
    
                    & p{
                        font-size: 24px; 

                        @media #{$md}{
                            font-size: 20px;
                        }
                        @media #{$xs}{
                            font-size: 16px;
                        }
                        @media #{$sm}{
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        & .blog-content{
            margin-top: 0;
            padding: 25px 30px 30px;

            @media #{$lg}{
                padding: 0 15px;
            }
            @media #{$md}{
                padding: 0 15px;
            }
            @media #{$xs}{
                padding: 15px 15px 20px;
            }
            @media #{$sm}{
                padding: 25px 30px 30px;
            }

            & p{
                font-size: 14px;
            }
    
            & .main-btn{
                background-color: transparent;
                border: 1px solid $border-color;
                line-height: 48px;
                color: $black;
                position: relative;
                @include transition(0s);

                @media #{$xs}{
                    line-height: 43px;
                }

                &:hover{
                    color: $white;
                    background-color: #93ddff;
                    background-image: -moz-linear-gradient(180deg,star 0%,#fabb98 100%);
                    background-image: -webkit-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                    background-image: -ms-linear-gradient(180deg,#93ddff 0%,#fabb98 100%);
                }
            }
        }
    }
}


.blog-active{
    & .slick-active{
        @include animation(slickZoomIn 1s);
    }

    & .slick-dots{
        text-align: center;
        margin-top: 16px;

        & li{
            display: inline-block;
            margin: 0 3px;

            & button{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 0;
                background-color: rgba($black, 0.5);
                font-size: 0;
                @include transition(0.3s);
            }

            &.slick-active{
                margin-top: -1px;

                & button{
                    background-color: $black;
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
}



/*====  Blog 2 Start  =====*/

.blog-area-2{}


.single-blog-2{
    background-color: $white;

    & .blog-image{
        overflow: hidden;
        position: relative;

        & a{
            display: block;
            position: relative;

            & img{
                width: 100%;
                @include transition(0.3s);
            }

            & i{
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                margin: 0 5px;
                color: $black;
                font-size: 14px;
                background-color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                z-index: 9;
                opacity: 0;
                visibility: visible;
                @include transition(0.3s);
                
                @media #{$lg}{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    margin: 0 2px;
                }
                @media #{$md}{
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    margin: 0 2px;
                }

                &:hover{
                    background: -moz-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: -ms-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: -webkit-linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    background: linear-gradient(90deg,#93ddff 0,#fabb98 100%);
                    color: $white;
                }
            }

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.4);
                top: 0;
                left: 0;
                z-index: 5;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s);
            }
        }

        & .blog-category-2{
            position: absolute;
            top: 0;
            left: 0;

            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0px 20px;
                    height: 35px;
                    line-height: 35px;
                    color: $white;
                    @include transition(0.3s);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    background-color: #707fe0;
                    background-image: -moz-linear-gradient(180deg,star 0,#707fe0 100%);
                    background-image: -webkit-linear-gradient(180deg,#f6354c 0,#707fe0 100%);
                    background-image: -ms-linear-gradient(180deg,#f6354c 0,#707fe0 100%);                    
                }
            }
        }

        &:hover{
            & a{
                & img{
                    @include transform(scale(1.1));
                }

                & i{
                    opacity: 1;
                    visibility: visible;
                }
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    & .blog-content{
        padding: 35px 40px;
        border: 1px solid $border-color;

        @media #{$xs}{
            padding: 25px 30px;
        }
        @media #{$xs}{
            padding: 15px;
        }

        & .blog-category{
            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 12px;
                    font-weight: 400;
                    color: $body-color;
                    @include transition(0.3s);

                    &:hover{
                        color: #d6c49f;
                    }
                }
            }
        }
        & .title{
            & a{
                font-size: 20px;
                font-weight: 400;
                color: $black;
                @include transition(0.3s);
                margin-top: 5px;
                font-family: $font-1;

                @media #{$lg}{
                    font-size: 18px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }

                &:hover{
                    color: #d6c49f;
                }
            }
        }
        & .blog-meta{
            margin-top: 10px;

            & li{
                display: inline-block;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 12px;
                    color: $body-color;
                    @include transition(0.3s);
                    
                    & i{
                        margin-right: 4px;
                        font-size: 14px;
                    }

                    &:hover{
                        color: #d6c49f;               
                    }
                }
            }
        }

        & p{
            font-size: 14px;
            margin-top: 15px;
        }

        & .blog-meta-2{
            padding-top: 20px;

            & li{
                display: inline-block;
                position: relative;

                & + li{
                    margin-left: 10px;
                }

                a{
                    font-size: 12px;
                    color: $body-color;
                    @include transition(0.3s);

                    & span{
                        color: $black;
                        @include transition(0.3s);
                    }
                    & i{
                        margin-right: 4px;
                    }

                    &:hover{
                        color: #d6c49f;

                        & span{
                            color: #d6c49f;
                        }
                    }
                }

                & .social{
                    position: absolute;
                    bottom: 100%;
                    background: $white;
                    padding: 8px;
                    box-shadow: 0 2px 12px rgba($black,.176);
                    transition: all 250ms ease-out;
                    border-radius: 5px;
                    visibility: hidden;
                    opacity: 0;
                    white-space: nowrap;    
                    left: 0;    
                    margin-left: -10px;
                    @include transition(0.3s);
                    
                    & li{
                        & + li{
                            margin-left: 5px;
                        }
                        & a{
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                            text-align: center;
                            border-radius: 50%;
                            font-size: 12px;
                            color: $white;

                            &.facebook{
                                background-color: #5678bf;
                            }
                            &.twitter{
                                background-color: #73c2fd;
                            }
                            &.linkedin{
                                background-color: #007bb6;
                            }
                            &.pinterest{
                                background-color: #c32026;
                            }
                        }
                    }
                }

                &:hover{
                    & .social{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}




