

/*====  Header Start  =====*/


.header-area{

}


.header-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 9999;
    will-change: transform,background;
    transition: transform .45s linear;
    -webkit-transition: transform .45s linear;
    -moz-transition: transform .45s linear;
    -ms-transition: transform .45s linear;
    -o-transition: transform .45s linear;

    @media #{$md}{
        background-color: $white;
        position: relative;
    }
    @media #{$xs}{
        background-color: $white;
        position: relative;
    }

    &.is-sticky{
        background-color: $white;
        position: fixed;
    }

    &.scroll-up {
        @include transform(none);
    }
    &.scroll-down {
        @include transform(translate3d(0, -100%, 0));
    }
}

.header-navbar-2{
    position: relative;
}

.slider-bottom-header-sticky{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    will-change: transform,background;
    transition: transform .45s linear;
    -webkit-transition: transform .45s linear;
    -moz-transition: transform .45s linear;
    -ms-transition: transform .45s linear;
    -o-transition: transform .45s linear;

    &.is-sticky{
        position: fixed;

        &.scroll-up {
            @include transform(none);
        }
        &.scroll-down {
            @include transform(translate3d(0, -100%, 0));
        }
    }
}

.header-wrapper{
    padding: 40px 0;
    @include transition(0.3s);
    position: relative;

    @media #{$md}{
        padding: 25px 0;
    }
    @media #{$xs}{
        padding: 25px 0;
    }
}

.is-sticky {
    & .header-wrapper{
        padding: 10px 0;

        @media #{$md}{
            padding: 15px 0;
        }
        @media #{$xs}{
            padding: 15px 0;
        }
    }
}

.header-logo{
    & a{
        & img{}
    }
}

.header-meta{
    text-align: right;

    & .meta{
        @media #{$md}{
            padding-right: 35px;
        }
        @media #{$xs}{
            padding-right: 35px;
        }

        & li{
            display: inline-block;

            & + li{
                margin-left: 15px;

                @media #{$xs}{
                    margin-left: 5px;
                }
            }

            & a{
                font-size: 16px;
                color: $black;
                position: relative;
                padding: 8px;

                & span{
                    height: 15px;
                    line-height: 15px;
                    text-align: center;
                    background-color: $theme-color;
                    color: $white;
                    display: block;
                    font-size: 12px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 4px;
                }

                &.sidebar-toggle,
                &.menu-toggle{
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                    background-color: $black;
                    color: $white;
                    text-align: center;
                    line-height: 58px;
                    font-size: 24px;
                    padding: 0;

                    @media #{$md}{
                        display: none;
                    }
                    @media #{$xs}{
                        display: none;
                    }
                }
            }

            & .account-dropdown{
                position: relative;

                & .dropdown-account{
                    position: absolute;
                    width: 200px;
                    top: 100%;
                    left: 50%;
                    @include transform(translateX(-50%));
                    background-color: $white;
                    @include box-shadow (0 2px 12px 2px rgba(0,0,0,.1));
                    padding: 10px;
                    z-index: 99;
                    opacity: 1;
                    visibility: hidden;
                    @include transition(0.3s);
                    text-align: left;

                    & li{
                        & + li{
                            margin-left: 0;
                        }
                        & a{
                            text-transform: uppercase;
                            font-size: 12px;
                            display: block;
                            color: $black;
                            padding: 10px 30px;
                            @include transition(0.3s);
                        }

                        &:hover{
                            & a{
                                color: $theme-color;
                            }
                        }
                    }
                }

                &:hover{
                    & .dropdown-account{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}


.dl-menuwrapper{
    float: none;
    margin-right: 0;
    position: relative;
    max-width: inherit;

    & .dl-menu {
        margin-top: 0;
        top: 100%;
    }

    & li{

        & a{
            font-size: 14px;
            background-color: $white;
            color: $black;
            padding: 12px 30px;
            text-transform: uppercase;
            border-top: 1px solid rgba($black, 0.15);
            @include transition(0.3s);

            &::after{
                color: $black;
                font-size: 14px;
                right: 30px;
                line-height: 44px;
            }

            &:hover{
                color: #6b56e2;
            }
        }

        & .dl-submenu{
            & .dl-back{
                text-align: right;

                &::after{
                    left: 30px;
                    color: $black;
                }

                &:hover{
                    background-color: #6b56e2;
                    color: $white;

                    &::after{
                        color: $white;
                    }
                }
            }

            & li{
                & a{
                    &:hover{
                        background-color: #6b56e2;
                        color: $white;

                        &::after{
                            color: $white;
                        }
                    }

                }
            }
        }
    }

    & .dl-trigger{
        float: right;
        background: transparent;
        width: 28px;
        height: 28px;
        margin-right: 15px;
        margin-top: -55px;

        &:hover{
            background-color: transparent;
        }

        &::after{
            width: 100%;
            height: 2px;
            top: 0;
            left: 0;
            background-color: $black;
            box-shadow: 0 10px 0 $black, 0 20px 0 $black;
        }
    }
}

.is-sticky {
    & .dl-menuwrapper{
        & .dl-trigger{
            margin-top: -45px;
        }
    }
}


/*====  Header Menu  =====*/

.header-menu{
    &.site-nav{
        &:hover{
            & .main-menu{
                & > li{
                    & > a{
                        opacity: 0.5;
                    }

                    &.active,
                    &:hover{
                        & > a{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    & .menu-category{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        & > li{
            position: relative;
            padding-right: 22px;

            @media #{$lg}{
                padding-right: 17px;
            }

            & > a{
                font-size: 12px;
                line-height: 28px;
                color: $black;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                display: block;
                @include transition(0.3s);
                opacity: 1;
                position: relative;

                & i{
                    font-size: 14px;
                    margin-left: 5px;
                }
            }

            & .sub-menu{
                position: absolute;
                top: 130%;
                left: 0;
                width: 240px;
                background-color: $white;
                padding: 10px 0;
                @include box-shadow (0 0 38px 0 rgba(41,44,58,.09));
                @include transition(0.3s);
                margin-top: 50px;
                opacity: 0;
                visibility: hidden;
                z-index: 9999;

                & > li{
                    position: static;

                    & > a{
                        padding: 10px 25px;
                        color: #8a8a8a;
                        font-size: 14px;
                        @include transition(0.3s);
                        text-transform: uppercase;
                        display: block;

                        & i{
                            font-size: 13px;
                            float: right;
                            display: block;
                            padding: 4px 0;
                        }

                    }

                    & .sub-menu{
                        left: 90%;
                        top: 0px;
                        margin-top: 0;
                        padding: 30px 15px;

                        &.menu-man{
                            width: 900px;

                            @media #{$lg}{
                                width: 700px;
                            }
                        }
                        &.women-man{
                            width: 600px;
                            padding: 30px;


                        }

                        & .menu-menu-items{
                            &.menu-product-active{
                                & .slick-active{
                                    @include animation(slickZoomIn 1s);
                                }
                                & .slick-dots{
                                    text-align: center;
                                    margin-top: 16px;

                                    & li{
                                        display: inline-block;
                                        margin: 0 3px;

                                        & button{
                                            width: 9px;
                                            height: 9px;
                                            border-radius: 50%;
                                            border: 0;
                                            background-color: rgba($black, 0.3);
                                            font-size: 0;
                                            @include transition(0.3s);
                                            @include transform(scale(0.8));
                                        }

                                        &.slick-active{
                                            & button{
                                                background-color: rgba($black, 0.8);
                                                @include transform(scale(1));
                                            }
                                        }
                                    }

                                }
                            }

                            & .single-product{
                                padding: 0 15px;
                            }

                            & .menu-title{
                                & .title{
                                    font-weight: 400;
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                    color: $black;
                                }
                            }

                            & .product-wrapper{

                                & .single-product-mini{
                                    margin-top: 30px;

                                    & .product-mini-image{}
                                    & .product-mini-content{
                                        & .mini-title{
                                            & a{}
                                        }
                                        & .product-price{
                                            & .price{}
                                        }
                                    }
                                }
                            }

                            & .menu-product-active-2{
                                & .slick-active{
                                    @include animation(slickZoomIn 1s);
                                }
                                & .slick-dots{
                                    text-align: center;
                                    margin-top: 16px;

                                    & li{
                                        display: inline-block;
                                        margin: 0 3px;

                                        & button{
                                            width: 9px;
                                            height: 9px;
                                            border-radius: 50%;
                                            border: 0;
                                            background-color: rgba($black, 0.3);
                                            font-size: 0;
                                            @include transition(0.3s);
                                            @include transform(scale(0.8));
                                        }

                                        &.slick-active{
                                            & button{
                                                background-color: rgba($black, 0.8);
                                                @include transform(scale(1));
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        & .sub-menu{
                            left: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            &:hover{
                & > .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }
    }

    & .main-menu{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        & > li{
            position: relative;
            padding: 5px 22px;

            &.static{
                position: static;
            }

            @media #{$lg}{
                padding: 0 17px;
            }

            & > a{
                font-size: 12px;
                line-height: 18px;
                color: $black;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                display: block;
                @include transition(0.3s);
                opacity: 1;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 1px;
                    background-color: $black;
                    left: 0;
                    bottom: 0;
                    @include transition(0.3s);
                }
            }

            &.active,
            &:hover{
                & > a{
                    &::before{
                        width: 100%;
                    }
                }
            }

            & span{
                font-size: 8px;
                color: $white;
                background-color: #d8242b;
                padding: 1px 5px;
                text-transform: uppercase;
                font-weight: 400;
                position: absolute;
                bottom: calc(100% + 5px);
                right: 22px;
                z-index: 2;

                &::before{
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #d8242b;
                    bottom: -3px;
                    left: 50%;
                    z-index: -1;
                    @include transform(translateX(-50%) rotate(135deg));
                }
            }

            & .sub-menu{
                position: absolute;
                top: 130%;
                left: 0;
                width: 240px;
                background-color: $white;
                padding: 30px 0;
                @include box-shadow (0 0 38px 0 rgba(41,44,58,.09));
                @include transition(0.3s);
                margin-top: 50px;
                opacity: 0;
                visibility: hidden;
                z-index: 9999;

                & li{
                    position: relative;

                    & a{
                        padding: 12px 50px;
                        color: #8a8a8a;
                        font-size: 14px;
                        @include transition(0.3s);
                        display: block;

                        & i{
                            font-size: 13px;
                            float: right;
                            display: block;
                            padding: 4px 0;
                        }

                    }

                    &:hover{
                        & > a{
                            opacity: 1;
                            color: $black;
                        }
                    }

                    & .sub-menu{
                        top: 0;
                        left: 90%;
                        margin-top: 0;
                    }

                    &:hover{
                        & .sub-menu{
                            opacity: 1;
                            visibility: visible;
                            left: 100%;
                        }
                    }
                }
            }

            &:nth-last-of-type(1),
            &:nth-last-of-type(2){
                & .sub-menu{
                    & li{
                        & .sub-menu{
                            @media #{$lg}{
                                left: auto;
                                right: 90%;
                            }
                        }
                        &:hover{
                            & .sub-menu{
                                @media #{$lg}{
                                    left: auto;
                                    right: 100%;
                                }
                            }
                        }
                    }
                }
            }

            & .sub-mega-menu{
                width: 900px;
                left: 50px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                top: 110%;
                margin-top: 0;

                @media #{$desktop}{
                    width: 1170px;
                }
                @media #{$lg}{
                    width: 820px;
                }

                & > li{
                    width: 25%;

                    & .menu-title{
                        color: $black;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    & .menu-image{
                        padding: 0;

                        & img{
                            width: 100%;
                        }
                    }

                    & a{
                        @media #{$lg}{
                            padding: 12px 30px;
                        }
                    }

                    &:hover{
                        & .sub-menu{
                            left: 0;
                        }
                    }
                }
            }

            &:hover{
                & > .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }
    }

    &.header-menu-2{
        width: 70%;

        @media #{$desktop}{
            width: 54%;
        }

        & .main-menu{
            & > li{
                & .sub-mega-menu{
                    left: 0;
                }
            }
        }
    }

    &.header-menu-3{
        & .main-menu{
            & > li{
                & .sub-mega-menu{
                    left: 0;
                }
            }
        }
    }
}


.is-sticky {
    & .header-menu{
        & .main-menu{
            & > li{
                & .sub-menu{
                    margin-top: 20px;
                }
                & .sub-mega-menu{
                    margin-top: 0px;
                }
            }
        }
    }
}


.header-top{
    background-color: #93ddff;
    background-image: -moz-linear-gradient(180deg, star 0%, #fabb98 100%);
    background-image: -webkit-linear-gradient(180deg, #93ddff 0%, #fabb98 100%);
    background-image: -ms-linear-gradient(180deg, #93ddff 0%, #fabb98 100%);
    padding-top: 19px;
    padding-bottom: 19px;

    & .header-content{
        & p{
            font-size: 20px;
            color: $black;
            font-weight: 500;

            @media #{$xs}{
                font-size: 18px;
            }

            & span{
                padding-right: 20px;
                font-family: $font-1;
                font-style: italic;
            }
        }
    }
}


/*====  Header Navbar  =====*/


.header-navbar-8{}

.header-navbar-main{
    padding-top: 45px;

    @media #{$lg}{
        padding-top: 20px;
    }
}

.header-search{
    border: 1px solid #e1e1e1;
    padding: 6px;
    border-radius: 50px;

    & .search-header-wrapper{

        &.form-group{
            margin-bottom: 0;
        }
        & select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            width: auto;
            padding: 0 20px;
            height: 40px;
            background-color: transparent;
            border: 0;
            font-size: 14px;
            color: $body-color;

            & .level-0{
                font-size: 14px;
            }
        }

        & button{
            width: 40px;
            height: 40px;
            padding: 0;
            border: 0;
            background: none;
            font-size: 16px;
            color: $black;
        }
    }

    & .search-header-input{
        width: 100%;

        & input{
            width: 100%;
            height: 40px;
            padding: 0 10px;
            font-size: 14px;
            color: $black;
            border: 0;
        }
    }
}

.header-navbar-main-menu{
    padding: 60px 0 30px;

    @media #{$lg}{
        padding: 40px 0 25px;
    }

    & .menu-category{
        & > li{
            & .sub-menu{
                margin-top: 30px;

                @media #{$lg}{
                    margin-top: 25px;
                }
            }
        }
    }

    & .header-menu{
        position: relative;

        & .main-menu {
            & > li {
                & > a{
                    &::before{
                        height: 3px;
                        border: 0;
                        bottom: -35px;
                        background-color: #93ddff;
                        background-image: -moz-linear-gradient(180deg,star 0,#fabb98 100%);
                        background-image: -webkit-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
                        background-image: -ms-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
                    }
                }
                & .sub-menu {
                    margin-top: 30px;

                    @media #{$lg}{
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}



/*====  Header Navbar Dark =====*/

.header-navbar-dark{
    background-color: $black;

    & .header-menu{
        & .main-menu{
            & > li{
                padding: 0;

                & > a{
                    color: $white;
                    position: relative;
                    padding: 5px 22px;
                    z-index: 8;

                    &::before{
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 490%;
                        background-color: #f5b324;
                        z-index: -1;
                        bottom: -195%;
                        left: 0;
                        opacity: 1;
                        visibility: hidden;
                        @include transition(0.3s);
                    }
                }

                &.active,
                &:hover{
                    & a{
                        &::before{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    & .header-meta{
        & .meta{
            & li{
                & a{
                    color: $white;

                    &.sidebar-toggle{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    & .dl-menuwrapper{
        & .dl-trigger::after {
            background-color: $white;
            box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
    }

    &.is-sticky{
        & .header-menu{
            & .main-menu{
                & > li{
                    & > a{
                        &::before{
                            bottom: -90%;
                        }
                    }
                }
            }
        }
    }
}



/*====  Header Navbar White =====*/

.header-navbar-white{
    @media #{$md}{
        background-color: transparent;
        position: absolute;
    }
    @media #{$xs}{
        background-color: transparent;
        position: absolute;
    }

    & .header-menu{
        & .main-menu{
            & > li{
                & > a{
                    color: $white;

                    &::before{
                        background-color: #f6354c;
                    }
                }

                &.active,
                &:hover{
                    & > a{
                        color: #f6354c;
                    }
                }
            }
        }
    }

    & .header-meta{
        & .meta{
            & li{
                & a{
                    color: $white;

                    &.sidebar-toggle{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    & .dl-menuwrapper{
        & .dl-trigger::after {
            background-color: $white;
            box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
    }

    &.is-sticky{
        & .header-menu{
            & .main-menu{
                & > li{
                    & > a{
                        color: $black;

                        &::before{
                            background-color: $black;
                        }
                    }

                    &.active,
                    &:hover{
                        & > a{
                            color: $black;
                        }
                    }
                }
            }
        }

        .header-meta{
            text-align: right;

            & .meta{
                & li{
                    & a{
                        color: $black;

                        &.sidebar-toggle,
                        &.menu-toggle{
                            color: $white;
                        }
                        &.sidebar-toggle{
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }

        & .dl-menuwrapper{
            & .dl-trigger::after {
                background-color: $black;
                box-shadow: 0 10px 0 $black, 0 20px 0 $black;
            }
        }
    }
}


/*====  Header Navbar White 2 =====*/

.header-navbar-white-2{
    @media #{$md}{
        background-color: transparent;
        position: absolute;
    }
    @media #{$xs}{
        background-color: transparent;
        position: absolute;
    }

    & .header-menu{
        & .main-menu{
            & > li{
                & > a{
                    color: $white;

                    &::before{
                        background-color: $white;
                    }
                }

                &.active,
                &:hover{
                    & > a{
                        color: $white;
                    }
                }
            }
        }
    }

    & .header-meta{
        & .meta{
            & li{
                & a{
                    color: $white;

                    &.sidebar-toggle{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    & .dl-menuwrapper{
        & .dl-trigger::after {
            background-color: $white;
            box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
    }

    &.is-sticky{
        & .header-menu{
            & .main-menu{
                & > li{
                    & > a{
                        color: $black;

                        &::before{
                            background-color: $black;
                        }
                    }

                    &.active,
                    &:hover{
                        & > a{
                            color: $black;
                        }
                    }
                }
            }
        }

        .header-meta{
            text-align: right;

            & .meta{
                & li{
                    & a{
                        color: $black;

                        &.sidebar-toggle,
                        &.menu-toggle{
                            color: $white;
                        }
                        &.sidebar-toggle{
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }

        & .dl-menuwrapper{
            & .dl-trigger::after {
                background-color: $black;
                box-shadow: 0 10px 0 $black, 0 20px 0 $black;
            }
        }
    }
}


/*====  Header Navbar White 3 =====*/

.header-navbar-white-3{
    @media #{$md}{
        background-color: transparent;
        position: absolute;
    }
    @media #{$xs}{
        background-color: transparent;
        position: absolute;
    }

    & .header-menu{
        & .main-menu{
            & > li{
                & > a{
                    color: $white;

                    &::before{
                        background-color: $theme-color;
                    }
                }

                &.active,
                &:hover{
                    & > a{
                        color: $theme-color;
                    }
                }
            }
        }
    }

    & .header-meta{
        & .meta{
            & li{
                & a{
                    color: $white;

                    &.sidebar-toggle{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    & .dl-menuwrapper{
        & .dl-trigger::after {
            background-color: $white;
            box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
    }

    &.is-sticky{
        & .header-menu{
            & .main-menu{
                & > li{
                    & > a{
                        color: $black;

                        &::before{
                            background-color: $black;
                        }
                    }

                    &.active,
                    &:hover{
                        & > a{
                            color: $black;
                        }
                    }
                }
            }
        }

        .header-meta{
            text-align: right;

            & .meta{
                & li{
                    & a{
                        color: $black;

                        &.sidebar-toggle,
                        &.menu-toggle{
                            color: $white;
                        }
                        &.sidebar-toggle{
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }

        & .dl-menuwrapper{
            & .dl-trigger::after {
                background-color: $black;
                box-shadow: 0 10px 0 $black, 0 20px 0 $black;
            }
        }
    }
}


/*====  Header Navbar White 4 =====*/

.header-navbar-white-4{
    @media #{$md}{
        background-color: transparent;
        position: absolute;
    }
    @media #{$xs}{
        background-color: transparent;
        position: absolute;
    }

    & .header-menu{
        & .main-menu{
            & > li{
                & > a{
                    color: $white;

                    &::before{
                        background-color: $black;
                    }
                }

                &.active,
                &:hover{
                    & > a{
                        color: $black;
                    }
                }
            }
        }
    }

    & .header-meta{
        & .meta{
            & li{
                & a{
                    color: $white;

                    &.sidebar-toggle{
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }
    }

    & .dl-menuwrapper{
        & .dl-trigger::after {
            background-color: $white;
            box-shadow: 0 10px 0 $white, 0 20px 0 $white;
        }
    }

    &.is-sticky{
        & .header-menu{
            & .main-menu{
                & > li{
                    & > a{
                        color: $black;

                        &::before{
                            background-color: $black;
                        }
                    }

                    &.active,
                    &:hover{
                        & > a{
                            color: $black;
                        }
                    }
                }
            }
        }

        .header-meta{
            text-align: right;

            & .meta{
                & li{
                    & a{
                        color: $black;

                        &.sidebar-toggle,
                        &.menu-toggle{
                            color: $white;
                        }
                        &.sidebar-toggle{
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }

        & .dl-menuwrapper{
            & .dl-trigger::after {
                background-color: $black;
                box-shadow: 0 10px 0 $black, 0 20px 0 $black;
            }
        }
    }
}
