.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item{
    padding: 0px!important;
    border: none!important;
    box-shadow: none!important;
}

.ais-RefinementList-label,
.ais-NumericMenu-label {
    margin-bottom: 3px!important;
    display: block!important;
}

.ais-RefinementList-label .ais-RefinementList-checkbox,
.ais-NumericMenu-label .ais-NumericMenu-radio {
    vertical-align: middle!important;
}

.ais-RefinementList-label .ais-RefinementList-labelText,
.ais-NumericMenu-label .ais-NumericMenu-labelText {
    font-size: 12px!important;
    color: rgb(138,138,138)!important;
    margin-left: 5px!important;
    vertical-align: middle!important;
    max-width: 70%!important;
}

.ais-RefinementList-label .ais-RefinementList-count {
    font-size: 12px !important;
    background-color: #fff!important;
    color: rgb(138, 138, 138) !important;
    border: 1px solid rgba(180,180,180) !important;
    padding: 0px 5px!important;
    display: inline-block!important;
    float: right!important;
}

.orange-btn,
.ais-InfiniteHits-loadMore {
    font-size: 13px!important;
    height: 30px !important;
    padding: 5px 25px!important;
    text-transform: uppercase!important;
    background-color: #ef5619!important;
    color: #fff !important;
    font-weight: bold !important;
    margin-top: 15px !important;
    border-radius: 0px!important;
    box-sizing: content-box!important;
}

.ais-InfiniteHits-loadMore{
    width: 100%;
}

.ais-RangeSlider .rheostat-progress{
    background-color: #ef5619!important;
}


#new-card-form-wrapper{
    padding: 15px;
    border: 2px solid #ebebeb;

}

.btn-facebook{
    background-color: #4064AD;
    color: #fff !important;
}

.product-attribute{

}

.product-attribute ul {

}

.product-attribute ul li{
    color: #000!important;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 3px;
}

.product-simple-details .product-color .color-list li{
    height: 70px;
    width: 70px;
}


.header-wrapper{
    padding: 20px 0px;
}

.checkout-invoice_request{
    display: none;
}


h1.title span{
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5)
}

.dl-menuwrapper .dl-trigger{
    margin-top: -84px;
}

.dl-menuwrapper .dl-trigger.all-pages {
    margin-top: -76px;
}

#paypal-button-container{
    height: 50px!important;
    overflow: hidden;
}

.nav-tabs .nav-link{
    font-size: 14px;
}

.checkout-review-order{
    padding: 15px;
}


.category-item{
    width: 33%!important;
}
