.header-navbar-main-menu {
    padding: 10px;
}

.header-area {
    background: transparent;
}

.header-navbar-main {
    padding-top: 10px;
}

.header-wrapper {
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.95) !important;
    border-bottom: 1px solid #FEF4F0
}

.header-meta .meta li a span{
    color:#333;
    background-color: #FEF4F0;
}

.header-navbar-main-menu .header-menu .main-menu>li>a::before{
    background-image: none!important;
    background-color: #FEF4F0;
}

.ais-HitsPerPage-select,
.ais-MenuSelect-select,
.ais-NumericSelector-select,
.ais-ResultsPerPage-select,
.ais-SortBy-select {
    border: none !important;
    font-size: 12px;
    border-radius: 0px !important;
    border-bottom: 1px solid #ccc !important;

}

/*
.slider-content .title{
    color: #fff;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.45);
}


.slider-content .text::before,
.slider-content .text::after{
    background-color: #fff;
}

.slider-content .text p{
    color: #fff;
}
*/

.header-menu .main-menu>li>a {}

.header-search .search-header-input input {
    background: transparent;
    border-bottom: 1px solid #333;
}

.header-search {
    border: none;
}


.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1020;
}

.product-simple-details .product-color .color-list li.width-auto {
    width: auto !important;
}


.slider-content .title {
    font-size: 80px;
}



.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

.ais-RefinementList-label,
.ais-NumericMenu-label {
    margin-bottom: 3px !important;
    display: block !important;
}

.ais-RefinementList-label .ais-RefinementList-checkbox,
.ais-NumericMenu-label .ais-NumericMenu-radio {
    vertical-align: middle !important;
}

.ais-RefinementList-label .ais-RefinementList-labelText,
.ais-NumericMenu-label .ais-NumericMenu-labelText {
    font-size: 12px !important;
    color: rgb(138, 138, 138) !important;
    margin-left: 5px !important;
    vertical-align: middle !important;
    max-width: 70% !important;
}

.ais-RefinementList-label .ais-RefinementList-count {
    font-size: 12px !important;
    background-color: #fff !important;
    color: rgb(138, 138, 138) !important;
    border: 1px solid rgba(180, 180, 180) !important;
    padding: 0px 5px !important;
    display: inline-block !important;
    float: right !important;
}

.orange-btn,
.ais-InfiniteHits-loadMore {
    font-size: 13px !important;
    height: 30px !important;
    padding: 5px 25px !important;
    text-transform: uppercase !important;
    background-color: #FEF4F0 !important;
    color: #333 !important;
    font-weight: bold !important;
    margin-top: 15px !important;
    border-radius: 0px !important;
    box-sizing: content-box !important;
}

.ais-InfiniteHits-loadMore {
    width: 100%;
}

.ais-RangeSlider .rheostat-progress {
    background-color: #FEF4F0 !important;
}


#new-card-form-wrapper {
    padding: 15px;
    border: 2px solid #ebebeb;

}

.btn-facebook {
    background-color: #4064AD;
    color: #fff !important;
}

.product-attribute {}

.product-attribute ul {}

.product-attribute ul li {
    color: #000 !important;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 3px;
}

.product-simple-details .product-color .color-list li {
    height: 40px;
    line-height: 20px;
    width: 50px;
    padding-top: 0px;
    font-weight: 600;
    color: #444;


}

.product-simple-details .product-color .color-list li:hover::before,
.product-simple-details .product-color .color-list li.active::before {
    border: 3px solid #FEF4F0 !important;

}

.header-meta .meta li .account-dropdown .dropdown-account {
    width: 320px !important;
}




.checkout-invoice_request {
    display: none;
}


h1.title span {
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5)
}

.dl-menuwrapper .dl-trigger margin-top: 22px !important;

    {
    margin-top: -84px;
}

.dl-menuwrapper .dl-trigger.all-pages margin-top: 22px !important;

    {
    margin-top: -76px;
}

#paypal-button-container {
    height: 50px !important;
    overflow: hidden;
}

.nav-tabs .nav-link {
    font-size: 14px;
}

.checkout-review-order {
    padding: 15px;
}

.ais-SearchBox-input {
    border-radius: 0px !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.ais-ClearRefinements-button--disabled {
    display: none !important;
}

.ais-RefinementList-showMore {
    background: #fff !important;
    color: #333 !important;
    text-decoration: underline;
    padding: 0px !important;
}

.single-product:hover .product-image .image::before {
    opacity: 0 !important;
}

.single-product .product-image .image{
    display: block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 240px;
}

.single-product .product-image .image.product-2{
    display: none;
}


.single-product:hover .product-image .image.product-2 {
    display: block;
}

.single-product:hover .product-image .image.product-1{
    display: none;
}


.single-product .product-content .product-title .title a {
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-radius: 0px;
    ;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: #FEF4F0;
}


.orange-bg {
    background-color: #FEF4F0;
}

.orange-text {
    color: #FEF4F0;
}


.product-simple-details .product-color {
    margin-top: 10px;
}

.product-simple-image.product-simple-02-image .product-simple-preview-image {
    width: 100%;
}

.price-cut {
    text-decoration: line-through;
}

.product-short-description {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 18px;
}

.ais-ToggleRefinement-labelText {
    font-size: 12px !important;
    color: rgb(138, 138, 138) !important;
    margin-left: 5px !important;
    vertical-align: middle !important;
    max-width: 100% !important;
}

.pg-on-sale-badge-0 {
    opacity: 0;
}

/*
.product-simple-details .product-color .color-list li::before{
    border-color: #333!important;
}
*/

.product-simple-details .product-color .color-list li.size-variant-disabled::before {
    /*background-color: #ececec;*/
    border-color: #ccc !important;
}

.product-simple-details .product-color .color-list li.size-variant-disabled {
    /* color: #fff; */
    opacity: 0.4;
}

@media (max-width: 767px) {
    .category-item .category-content .title {
        font-size: 30px;
    }

    .homepage-background-video {
        height: 520px !important;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

}

.category-item .category-content .title {

    text-shadow: 0px 0px 7px rgb(0 0 0 / 65%);
}

.category-item .category-content {
    padding: 20px;
}

body>div.header-wrapper>header>div.header-navbar-2.d-lg-none>div.container-fluid.custom-container>div>div.header-logo {
    padding: 15px;

}

body>div.header-wrapper>header>div.header-navbar-2.d-lg-none>div.container-fluid.custom-container>div>div.header-logo img {
    height: 40px;
        -webkit-filter: invert(100%);

}

.container-h-scroll-wrapper {
    overflow-x: scroll;
    width: 100%;
}

.product-thumb {
    width: 240px;
    display: inline-block;
    padding: 10px;
}


.product-thumb .product-image {
    display: block;
    background-size: contain;
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
}

.product-thumb .product-image img {
    width: 100%;
}

.header-wrapper-inverted {
    background: -moz-linear-gradient(top, #25211e 0, rgba(37, 33, 30, 0) 100%) !important;
    background: -webkit-linear-gradient(top, #25211e 0, rgba(37, 33, 30, 0) 100%) !important;
    background: linear-gradient(to bottom, #25211e 0, rgba(37, 33, 30, 0) 100%) !important;
    color: white !important;
}

.header-wrapper-inverted a,
.header-wrapper-inverted button {
    color: white !important;
}


.header-wrapper-inverted .header-meta .meta li .account-dropdown .dropdown-account li a {
    color: #333 !important;
}

.header-wrapper-inverted .search-header-input input {
    border-color: white !important;
    color: white;

}

.header-wrapper-inverted .search-header-input input::-webkit-input-placeholder {
    color: white;
}


.ais-RefinementList-showMore--disabled {
    display: none !important;
}

.category-item {
    padding: 40px 20px;
}

.category-item:first-child {
    padding: 40px 20px 0px 40px;
}

.category-item:last-child {
    padding: 40px 40px 0px 20px;
}

@media (max-width: 767px) {
    .category-item {
        padding: 0px !important;
    }
}


.homepage-background-video {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.homepage-background-video video {
    height: auto;
}

.hp-video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}


.product-simple-details .product-quantity-cart-wishlist-compare {
    padding-top: 0px !important;
}

.product-simple-details .product-quantity-cart-wishlist-compare form .product-quantity {
    margin-top: 0px !important;
}

.product-simple-details .product-quantity-cart-wishlist-compare .product-cart {
    margin-top: 0px !important;
}

.pg-compare-price-0 {
    display: none;
}

.pg-compare-price-1 {
    display: inline-block;
    font-size: 80%;
    font-weight: 400;
    color: #999;
}

.pg-discount-percentage-1 {
    display: inline-block;
    font-size: 80%;
    font-weight: 400;
    color: #999;
}

.pg-discount-percentage-0 {
    display: none;
}


.dl-menu {

    transition: 0.3s all;
}

.dl-menu.dl-menuopen {
    top: 71px;
}

.dl-menu a {
    color: #232324 !important
}


.product-simple-details .product-color .color-list li.version-li::before {
    border: none;
}

.version-li {
    margin-left: 0px !important;
    margin-right: 15px;
    margin-bottom: 25px !important;
}




.cc_dialog.simple {
    max-width: 100% !important;
}

.cc_dialog {
    padding: 1rem !important;
}

.newsletter-content-2 .title {
    font-size: 52px;
    color: #ffffff;
    font-family: poppins, sans-serif;
    font-weight: 800;
    /* text-shadow: 0px 0px 4px rgb(255 255 255 / 35%); */
}

.newsletter-content-2 p {
    color: #ffffff;
}

.newsletter-area-2 .container-fluid {
    padding: 55px 0px;
    background: rgba(0, 0, 0, 0.45);
}

.header-banner {
    height: 35px;
    background-color: #FEF4F0;
    text-align: center;
    color: #333;
    font-size: 13px;
    line-height: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}

.header-banner a {
    color: #333;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.scales-tabs a {
    display: block;
    padding: 7px 10px;
}

/*

@media (orientation: landscape) {
    .homepage-background-video,
    .homepage-main-claim {
        display: none!important;
    }
}

*/

.parallax {
    /* The image used */


    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orange-btn{
    color: #333!important;
}


.header-menu .main-menu>li .sub-menu li a{
        padding: 12px 24px;
        color: #8a8a8a!important;
        font-size: 14px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        display: block;
        border-bottom: 1px solid #ececec;
}

.header-navbar-main-menu .header-menu .main-menu>li .sub-menu{
    margin-top: 0px;
    padding:0px;
}


.single-product .product-image .image .img{
    height:240px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link{
    color: #333;
}

.product-variation{
       height:80px;
       width: 100%;
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
}
