

/*====  Common Start  =====*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

 body {
	font-family: $font-2;
	font-weight: normal;
	font-style: normal;
	color: $body-color;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);
}

img {
	max-width: 100%;
}

a:focus,
select:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-2;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $body-color;
	margin: 0px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

// others common css here



/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 0;
	padding: 0 30px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	border-radius: 0;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
	background-color: $black;
	text-transform: uppercase;

	@media #{$xs}{
		font-size: 13px;
	}
	@media #{$sm}{
		font-size: 14px;
	}
    
    &:hover{
        background-color: $theme-color;
        color: $white;
	}
	
	&.main-btn-2{
		background-color: $white;
		color: $black;

		&:hover{
			background-color: $black;
			color: $white;
		}
	}
}


.container-fluid {
	@media #{$desktop}{
		max-width: 1920px;
		padding: 0 28px;
	}
}

.custom-container {
	@media #{$desktop}{
		max-width: 1920px;
		padding: 0 80px;
	}
}

.custom-container-2 {
	@media #{$desktop}{
		max-width: 1920px;
		padding: 0 105px;
	}
}




/*===== All Overlay Style =====*/

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.7);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(0.3s);

	&.open{
		opacity: 1;
		visibility: visible;
	}
	&.open-canvas,
	&.open-cart{
		opacity: 1;
		visibility: visible;
		z-index: 99999;
	}
}


/*===== All Slick Slide Outline Style =====*/

.slick-slide {
	outline: 0; 
}

/*===== All Resizing Select Style =====*/

#resizing_select {
	width: 60px;
} 
   
#width_tmp_select{
	display : none;
} 


/*===== All Slick Slide Outline Style =====*/

.section-title {
	& .title{
		font-size: 48px;
		font-weight: 400;
		color: $black;
		text-transform: uppercase;
		font-family: $font-1;
		position: relative;
		display: inline-block;
		padding-bottom: 18px;

		@media #{$lg}{
			font-size: 36px;
		}
		@media #{$md}{
			font-size: 30px;
		}
		@media #{$xs}{
			font-size: 24px;
		}

		&::before{
			position: absolute;
			content: '';
			height: 2px;
			background-color: $black;
			width: 60px;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}

	&.section-title-2{
		& .title{
			padding-bottom: 0;

			&::after,
			&::before{
				position: absolute;
				content: '';
				height: 1px;
				background-color: #c5c5c5;
				width: 180px;
				bottom: auto;
				top: 50%;
				left: -200px;
				@include transform(translateY(-50%));

				@media #{$lg}{
					width: 80px;
					left: -90px;
				}
				@media #{$md}{
					width: 80px;
					left: -90px;
				}
				@media #{$xs}{
					display: none;
				}
				@media #{$sm}{
					display: block;
					width: 80px;
					left: -90px;
				}
			}
			&::after{
				left: auto;
				right: -200px;

				@media #{$lg}{
					right: -90px;
				}
				@media #{$md}{
					right: -90px;
				}
				@media #{$sm}{
					right: -90px;
				}
			}
		}
	}
}

.section-title-3{
	& .title{
		border: 2px solid #cbcbcb;
		display: inline-block;
		letter-spacing: 5px;
		width: 380px;
		max-width: 100%;
		padding: 35px 30px;
		line-height: 26px;
		margin: 0;
		color: $black;
		font-size: 24px;
		font-weight: 700;

		@media #{$lg}{
			padding: 25px 30px;
			font-size: 20px;
			width: 320px;
		}
		@media #{$md}{
			padding: 15px 10px;
			font-size: 20px;
			max-width: 300px;
			letter-spacing: 3px;
		}
		@media #{$xs}{
			padding: 15px 10px;
			font-size: 18px;
			max-width: 270px;
			letter-spacing: 3px;
		}
	}
}

.section-title-4{
	& .title{
		letter-spacing: 10px;
		font-weight: 300;
		color: $black;
		font-size: 36px;

		@media #{$xs}{
			font-size: 24px;
			letter-spacing: 4px;
		}
		@media #{$sm}{
			font-size: 30px;
		}
	}
	& p{
		margin-top: 15px;
		font-size: 12px;
		color: $body-color;	
	}
}

.section-title-5 {
	& .title{
		font-size: 24px;
		font-weight: 700;
		color: $black;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		padding-bottom: 18px;
		letter-spacing: 3px;

		@media #{$lg}{
			font-size: 36px;
		}
		@media #{$md}{
			font-size: 30px;
		}
		@media #{$xs}{
			font-size: 22px;
		}

		&::before{
			position: absolute;
			content: '';
			height: 3px;
			background-color: #93ddff;
			background-image: -moz-linear-gradient(180deg,star 0,#fabb98 100%);
			background-image: -webkit-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
			background-image: -ms-linear-gradient(180deg,#93ddff 0,#fabb98 100%);
			width: 40px;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
}

.section-title-6 {
	& .title{
		font-size: 70px;
		font-weight: 700;
		color: $black;
		text-transform: capitalize;
		position: relative;
		display: inline-block;
		padding-bottom: 18px;
		letter-spacing: -5px;

		@media #{$lg}{
			font-size: 36px;
			letter-spacing: 0;
		}
		@media #{$md}{
			font-size: 30px;
			letter-spacing: 0;
		}
		@media #{$xs}{
			font-size: 22px;
			letter-spacing: 0;
		}

		&::before{
			position: absolute;
			content: '';
			height: 3px;
			background-color: #7e8ce2;
			background-image: -webkit-linear-gradient(180deg,#f54a5f 0,#7e8ce2 100%);
			background-image: -ms-linear-gradient(180deg,#f54a5f 0,#7e8ce2 100%);			
			background-image: -moz-linear-gradient(180deg,#f54a5f 0,#7e8ce2 100%);			
			background-image: linear-gradient(180deg,#f54a5f 0,#7e8ce2 100%);			
			width: 85px;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
	& p{
		color: $body-color;
		font-size: 14px;
		margin-top: 25px;
	}
}

.section-title-7 {
	& .title{
		font-size: 46px;
		color: $black;
		text-transform: capitalize;
		position: relative;
		display: inline-block;
		padding-bottom: 30px;
		font-weight: 400;
		font-family: $font-3;

		@media #{$lg}{
			font-size: 36px;
			letter-spacing: 0;
		}
		@media #{$md}{
			font-size: 30px;
			letter-spacing: 0;
		}
		@media #{$xs}{
			font-size: 30px;
			letter-spacing: 0;
		}

		&::before{
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transform(translateX(-50%));
			content: '';
			background-image: url(../images/leaf.png);
			width: 25px;
			height: 16px;
			background-repeat: no-repeat;	
			background-size: contain;		
		}
	}

	& p{
		font-size: 14px;
		color: $body-color;
		margin-top: 10px;
	}
}


.section-title-8{
	& .title{
		font-size: 48px;
		line-height: 50px;	
		color: $black;
		font-family: $font-1;	
		font-weight: 400;

		@media #{$lg}{
			font-size: 40px;
		}
		@media #{$md}{
			font-size: 30px;
		}
		@media #{$xs}{
			font-size: 24px;
			line-height: 32px;
		}
	}
	& img{
		margin-top: 10px;
	}
	& p{
		font-size: 14px;
		margin-top: 10px;

		& br{
			@media #{$lg}{
				display: none;
			}
			@media #{$md}{
				display: none;
			}
			@media #{$xs}{
				display: none;
			}
		}
	}
}

.collections-title{
	& .title{
		font-size: 110px;
		font-family: $font-1;
		color: $black;
		font-weight: 400;

		@media #{$lg}{
			font-size: 50px;
		}
		@media #{$md}{
			font-size: 50px;
		}
		@media #{$xs}{
			font-size: 38px;
			line-height: 45px;
		}
		@media #{$sm}{
			font-size: 48px;
			line-height: 55px;
		}
	}
	& img{		
		margin-top: 12px;
		width: 192px;

		@media #{$lg}{
			width: 150px;
		}
		@media #{$md}{
			width: 150px;
		}
		@media #{$xs}{
			width: 120px;
		}
	}
	& p{
		font-size: 14px;
		margin-top: 30px;
	}
}



/*===== Site Main ======*/

.site-main{
	padding-left: 300px;

	@media #{$desktop}{
        padding-left: 370px;
    }
    @media #{$lg}{
        padding-left: 280px;
    }
    @media #{$md}{
        padding-left: 0px;
    }
    @media #{$xs}{
        padding-left: 0px;
    }
}


.site-bg{
	background-color: #f7f7f7;
}

/*===== Slick ZoomIn ======*/


@-webkit-keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
        opacity: 1;
    }
}
  
@keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
    }
    
    50% {
        opacity: 1;
    }
}


/*===== Tab Animation ======*/

.tab-pane{
	&.active{
		@include animation(tabUp 0.5s);
	}
} 

@-webkit-keyframes tabUp {
	from {
		transform: translate3d(0, 30px, 0);
		-webkit-transform: translate3d(0, 30px, 0);
		-moz-transform: translate3d(0, 30px, 0);
		-ms-transform: translate3d(0, 30px, 0);
		-o-transform: translate3d(0, 30px, 0);
	}
  
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
  	}
}
  
@keyframes tabUp {
	from {
		transform: translate3d(0, 30px, 0);
		-webkit-transform: translate3d(0, 30px, 0);
		-moz-transform: translate3d(0, 30px, 0);
		-ms-transform: translate3d(0, 30px, 0);
		-o-transform: translate3d(0, 30px, 0);
	}
  
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
  	}
}


/*===== Custom Col ======*/

.product-row{
	@media #{$desktop}{
		margin-left: -30px;
		margin-right: -30px;
	}
}


/*===== Custom Col ======*/

.sidebar-col{
	-ms-flex: 0 0 18%;
	flex: 0 0 18%;
	max-width: 18%;

	@media #{$lg}{
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		max-width: 30%;
	}
	@media #{$md}{
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		max-width: 30%;
	}
	@media #{$xs}{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.content-col{
	max-width: 81%;
	-ms-flex: 0 0 81%;
	flex: 0 0 81%;

	@media #{$lg}{
		-ms-flex: 0 0 70%;
		flex: 0 0 70%;
		max-width: 70%;
	}
	@media #{$md}{
		-ms-flex: 0 0 70%;
		flex: 0 0 70%;
		max-width: 70%;
	}
	@media #{$xs}{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.product-col{
	@media #{$laptop}{
		max-width: 33.33%;
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
	}
}

.product-col-2{
	padding: 0 30px;

	@media #{$desktop}{
		max-width: 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
	}
}
.product-col-3{
	padding: 0 5px;
}

.product-col-4{
	@media #{$desktop}{
		max-width: 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
	}
}

.blog-col{
	@media #{$laptop}{
		max-width: 33.33%;
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
	}
}

/*===== All Pagination Style ======*/

.pagination-items{
	& .pagination{
		& li{
			margin: 0 4px;

			& a{
				width: 35px;
				height: 35px;
				line-height: 33px;
				border: 1px solid transparent;
				text-align: center;
				font-size: 12px;
				color: $black;
				@include transition(0.3s);

				@media #{$xs}{
					width: 25px;
					height: 25px;
					line-height: 23px;
				}
				@media #{$sm}{
					width: 35px;
					height: 35px;
					line-height: 33px;
				}

				&.active{
					background-color: $black;
					color: $white;
				}

				&.prev,
				&.next{
					width: auto;
					padding: 0 8px;
				}

				&:hover{
					border-color:  $black;
					@include box-shadow (0 0 8px 0 rgba(41,44,58,.11));
				}
			}
		}
	}
}



/*===== All Form Style ======*/

.single-form{
	margin-top: 25px;

	& label{
		font-size: 13px;
		color: $black;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	& textarea,
	& input{
		width: 100%;
		height: 50px;
		padding: 0 15px;
		border: 1px solid $border-color;
		@include transition(0.3s);
		font-size: 14px;
		color: $black;

		&:focus{
			border-color: $black;
		}

		& + input{
			margin-top: 15px;
		}
	}

	& textarea{
		height: 120px;
		resize: none;
		padding: 10px 15px;
	}

	& .main-btn-2{
		background-color: transparent;
		border: 1px solid $border-color;
		color: $black;
		line-height: 48px;

		&:hover{
			border-color: $black;
			background-color: $black;
			color: $white;
		}
	}
}


.single-select2{
	margin-top: 25px;
	
	& label{
		font-size: 13px;
		color: $black;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	& .form-select2{
		height: 50px;
		border-radius: 3px;
		border: 1px solid $border-color;

		& .select2-container{
			display: block;
			width: 100% !important;

			& .selection{
				display: block;
				width: 100%;

				& .select2-selection{
					width: 100%;
					border-radius: 0;
					border: 0;

					&:focus{
						outline: 0;
					}

					& .select2-selection__rendered{
						line-height: 48px;
						padding-left: 15px;
						font-size: 14px;
						color: $black;
					}

					& .select2-selection__arrow{
						height: 48px;
						right: 10px;
					}
				}
			}
		}
	}
}

.select2-container {
   & .select2-dropdown {
       & .select2-results{
           & .select2-results__options{
               & .select2-results__option{
                   font-size: 14px;
               }
           }
       }
   }
}

.checkbox{
	& input[type="checkbox"]{
		display: none;

		& + label{
			position: relative;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			color: $body-color;

			& span{
				width: 14px;
				height: 14px;
				border: 1px solid $body-color;
				position: relative;
				border-radius: 3px;
				top: 5px;
				margin-right: 5px;
				@include transition(0.3s);

				&::before{
					content: '\f00c';
					font-family: "Font Awesome 5 Pro";
					font-weight: 400;
					font-size: 12px;
					color: $black;
					@include transition(0.3s);
					position: relative;
					top: -5px;
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&:checked{
			& + label{    
				& span{
					background-color: $theme-color;
					border-color: $theme-color;

					&::before{
						color: $white;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

.radio{
	& input[type="radio"]{
		display: none;

		& + label{
			margin-bottom: 0;
			font-size: 14px;
			color: $black;
			text-transform: uppercase;

			& span{
				width: 13px;
				height: 13px;
				border: 1px solid $black;
				border-radius: 50%;
				position: relative;
				margin-right: 5px;

				&::before{
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					border-radius: 50%;
					background-color: $black;
					width: 100%;
					height: 100%;
					@include transform(scale(0.7));
					opacity: 0;
					visibility: hidden;
					@include transition(0.3s);
				}
			}
		}

		&:checked{
			& + label{
				& span{    
					&::before{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}


/*===== All Preloader Style ======*/

.preloader{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
	z-index: 999999;
	
	& .spinner {
		width: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));

		& > div {
			width: 18px;
			height: 18px;
			background-color: $black;
			border-radius: 100%;
			display: inline-block;
			@include animation(sk-bouncedelay 1.4s infinite ease-in-out both);

			&.bounce1 {
				@include animation-delay(-0.32s);
			}
			&.bounce2 {
				@include animation-delay(-0.16s);
			}
		}
		
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { 	  
		@include transform(scale(0));
	} 40% {
		@include transform(scale(1.0));
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 	  
		@include transform(scale(0));
	} 40% {
		@include transform(scale(1.0));
	}
}


